################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/test/bin/Debug/net461
/test/node_modules
/test/obj
